<h1>Posties#new</h1>
<p>Find me in app/views/posties/new.html.erb</p>
<% form_for @postie do |f| %>
  <%= f.label :name, 'Unique name' %>
  <%= f.text_field :name %>
  <%= f.label :body, 'Your postie' %>
  <%= f.text_area :body %>
<% end %>
